<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL Velorio Web</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <h2 style="color: white;">Bienvenido, <%= username %></h2>
    <nav class="nav center">
        <a href="/"><button class="navSpace navSpace2 btnS">Inicio</button></a>
        <a href="/biblioteca"><button class="navSpace navSpace2 btnS">Biblioteca</button></a>
        <a href="/chat"><button class="navSpace navSpace2 btnS">Chat</button></a>
        <a href=""><button class="navSpace navSpace2 btnS">Juegos</button></a>
        <form method="post" action="/auth/logout">
            <input type="submit" name="logout" value="logout">
        </form>
    </nav>

    <h1>Inicio</h1>
    <% if(username){ %>
        <p>Super Admin</p>
    <% } else{ %>
        <a href="/auth/login"><img src="../img/user.png" alt="user" style="color: white;"><h1></a>
    <% } %>
</body>
<script type="text/html" src="../index.js"></script>

</html>